html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  background: #79f1a4;
  background-image: linear-gradient(135deg, #79f1a4 10%, #0e5cad 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
