.analyzer__container {
  display: grid;
  gap: var(--s-10);
  grid-template-columns: 1fr 2fr;
}

.analyzer__summary {
  background-color: var(--bg-lighter);
  border-radius: var(--rounded);
  font-size: var(--fonts-md);
  font-weight: var(--bold);
  padding-block: var(--s-2);
  padding-inline: var(--s-3);
}

.analyzer__stat-collection {
  display: grid;
  gap: var(--s-2);
  grid-template-columns: repeat(auto-fill, minmax(7.5rem, 1fr));
  margin-block-start: var(--s-4);
}

.analyzer__stat-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--s-2);
  background-color: var(--bg-darker);
  border-radius: var(--rounded);
  gap: var(--s-4);
}

.analyzer__stat-card__title {
  font-size: var(--fonts-xs);
}

.analyzer__stat-card__value {
  font-size: var(--fonts-xs);
}
