.badges__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-badge);
  border-radius: var(--rounded);
  gap: var(--s-6);
  padding-block: var(--s-2);
  padding-inline: var(--s-3);
}

.badges__small-badges {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--s-2);
}

.badges__nav-link.active {
  display: none;
}

.badges__explanation {
  color: var(--theme);
  font-weight: var(--semi-bold);
  text-align: center;
}

.badges__managers {
  color: var(--text-lighter);
  font-size: var(--fonts-xxs);
  text-align: center;
}

.badges__owners-container {
  height: 8rem;
  overflow-y: auto;
}

.badges__owners {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  font-size: var(--fonts-sm);
  gap: var(--s-1-5);
}

.badges__owners > li {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.1;
  list-style: none;
}

.badges__count {
  color: var(--theme-vibrant);
  font-size: var(--fonts-xs);
}

.badges-edit__users-list > li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

.badges-edit__users-list {
  display: flex;
  flex-direction: column;
  padding: 0;
  font-size: var(--fonts-xs);
  font-weight: var(--semi-bold);
  gap: var(--s-2);
  padding-block-end: var(--s-2-5);
}

.badges-edit__number-input {
  width: 5rem;
}

.badges-edit__cancel-button {
  width: max-content;
  margin: 0 auto;
}

.badges-edit__big-header {
  font-size: var(--fonts-lg);
}

.badges-edit__small-header {
  font-size: var(--fonts-md);
}

.badges-edit__differences {
  padding: 0;
  font-size: var(--fonts-xs);
  list-style: none;
}

.badges-edit__differences > li::before {
  padding-inline-end: 5px;
  content: "-";
}

.badges-edit__submit-button {
  margin: 0 auto;
}
