.event__title {
  line-height: 1.35;
}

.event__day {
  color: var(--text-lighter);
}

.event__times {
  display: grid;
  column-gap: var(--s-1-5);
  font-weight: var(--semi-bold);
  grid-template-columns: max-content 1fr;
}

.event__author {
  display: flex;
  align-items: center;
  color: var(--text-lighter);
  font-weight: var(--semi-bold);
  gap: var(--s-1);
}
