.event__title {
  line-height: 1.35;
}

.event__day {
  color: var(--text-lighter);
}

.event__times {
  display: grid;
  column-gap: var(--s-1-5);
  font-weight: var(--semi-bold);
  grid-template-columns: max-content 1fr;
}

.event__times > time {
  height: 1.25rem;
}

.event__author {
  display: flex;
  align-items: center;
  color: var(--text-lighter);
  font-weight: var(--semi-bold);
  gap: var(--s-1);
}

.event__results-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 var(--s-1-5);
  font-size: var(--fonts-sm);
  text-align: left;
}

.event__results-table > thead {
  font-size: var(--fonts-xxs);
}

.event__results-table > thead > tr {
  text-align: center;
}

.event__results-table > tbody > tr {
  padding-block: var(--s-2);
}

.event__results-table > tbody > tr:nth-child(2n) {
  background-color: var(--bg);
}

.event__results-players {
  display: flex;
  flex-wrap: wrap;
  gap: var(--s-3);
  list-style: none;
}

.event__results-section {
  display: flex;
  flex-direction: column;
  gap: var(--s-1);
  overflow-x: auto;
}

.event__results-participant-count {
  color: var(--text-lighter);
  font-size: var(--fonts-xs);
}
