.faq__summary {
	padding: var(--s-3);
	border-radius: var(--rounded);
	background-color: var(--bg-lighter);
	font-size: var(--fonts-lg);
	font-weight: var(--bold);
}

.faq__details > p {
	margin-inline: var(--s-4);
	padding-block: var(--s-3);
	white-space: pre-line;
}
