.front__nav-items-container {
  display: grid;
  max-width: 340px;
  margin: 0 auto;
  font-size: 13px;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: var(--s-4);
}

.front__nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--new-text);
  font-weight: bold;
  gap: var(--s-1);
  text-align: center;
}

.front__nav-image-container {
  display: grid;
  width: 75px;
  height: 75px;
  border-radius: var(--rounded);
  background-color: var(--new-bg-lighter);
  place-items: center;
  transition: all 0.2s ease-out;
}

.front__nav-image-container:hover {
  background-color: var(--new-theme-transparent);
}
