.layout__header {
  --item-size: 2.75rem;

  position: relative;
  z-index: 501;
  display: flex;
  justify-content: space-between;
  padding: var(--s-4);
  background-color: var(--bg);
}

.layout__page-heading {
  display: flex;
  align-items: center;
  font-size: var(--fonts-md);
  font-weight: var(--bold);
  gap: var(--s-2-5);
  letter-spacing: 0.02rem;
}

.layout__icon {
  background-color: var(--bg-lighter);
  background-image: url("/svg/background-pattern.svg");
  border-radius: var(--rounded);
}

.layout__header__right-container {
  display: flex;
  gap: var(--s-4);
  justify-self: flex-end;
}

.layout__main {
  max-width: 48rem;
  margin: 0 auto;
  padding-block-end: var(--s-32);
  padding-inline: var(--s-3);
}

.layout__burger {
  display: flex;
  width: var(--item-size);
  height: var(--item-size);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.25rem;
  border: 2px solid;
  border-color: var(--theme-transparent-vibrant);
  background-color: transparent;
  border-radius: 50%;
  color: inherit;
  cursor: pointer;
  gap: 2px;
}

.layout__burger__top-line {
  transform: none;
  transform-origin: 16px 10px;
  transition-duration: 150ms;
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.layout__burger__top-line.expanded {
  transform: translateY(7px) rotate(45deg);
}

.layout__burger__middle-line {
  opacity: 1;
  transition-duration: 150ms;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.layout__burger__middle-line.expanded {
  opacity: 0;
}

.layout__burger__bottom-line {
  transform: none;
  transform-origin: 16px 22px;
  transition-duration: 150ms;
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.layout__burger__bottom-line.expanded {
  transform: translateY(-5px) rotate(-45deg);
}

.layout__mobile-nav {
  position: absolute;
  z-index: 500;
  bottom: 100vh;
  width: 100%;
  height: 100%;
  padding-bottom: var(--s-6);
  background-color: var(--bg-lighter);
  background-image: url("/svg/background-pattern.svg");
  overflow-y: auto;

  /* TODO: same for Safari */
  overscroll-behavior: contain;
  transition: bottom 0.5s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.layout__mobile-nav.expanded {
  bottom: 0;
}

/* .layout__mobile-nav {
  position: absolute;
  z-index: 500;
  bottom: 100vh;
  right: 0;
  width: 35%;
  height: 50%;
  padding-bottom: var(--s-6);
  background-color: var(--bg-lighter);
  background-image: url("/svg/background-pattern.svg");
  overflow-y: auto;

  /* TODO: same for Safari
  overscroll-behavior: contain;
  transition: bottom 0.5s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.layout__mobile-nav.expanded {
  bottom: 50vh;
  border-radius: var(--rounded);
} */
.layout__mobile-nav__link__icon {
  width: 2rem;
  height: 2rem;
}

.layout__mobile-nav__links {
  display: grid;
  justify-content: center;
  grid-auto-columns: 1fr;
  grid-auto-rows: 4rem;
  padding-block-start: 6rem;
}

.layout__mobile-nav__group-title {
  align-self: flex-end;
  padding: var(--s-2) var(--s-3);
  margin-bottom: var(--s-1);
  background-color: var(--bg);
  border-radius: var(--rounded);
  font-weight: var(--bold);
  justify-self: center;
  text-transform: uppercase;
}

.layout__mobile-nav__link {
  display: flex;
  align-items: center;
  padding: 0 var(--s-2);
  border-top: 3px solid var(--bg-lighter);
  margin: 0 var(--s-12);
  background-color: var(--bg);
  color: var(--text);
  font-size: var(--fonts-sm);
  font-weight: var(--bold);
  gap: var(--s-2);
  text-decoration: none;
  text-transform: capitalize;
}

.layout__mobile-nav__link.first {
  border-radius: var(--rounded) var(--rounded) 0 0;
}

.layout__mobile-nav__link.last {
  border-radius: 0 0 var(--rounded) var(--rounded);
}

.layout__log-in-button {
  display: flex;
  height: var(--item-size);
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  border: 2px solid;
  border-color: var(--bg-lighter);
  background-color: transparent;
  border-radius: var(--rounded);
  color: inherit;
  cursor: pointer;
  font-size: var(--fonts-xs);
  font-weight: var(--bold);
  gap: var(--s-2);
  text-decoration: none;
}

.layout__log-in-button > svg {
  width: 1rem;
}

.layout__log-in-button:active {
  transform: translateY(1px);
}

.layout__user-popover {
  display: flex;
  flex-direction: column;
  gap: var(--s-2);
}
