.layout__container {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.layout__breadcrumb-container {
  display: flex;

  /** check if should use px or not */
  height: 30px;
  align-items: center;
  gap: var(--s-2);
}

.layout__breadcrumb {
  overflow: hidden;
  max-width: 350px;
  color: var(--text);
  font-size: var(--fonts-sm);
  font-weight: 600;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.layout__breadcrumb.logo {
  overflow: initial;
}

/** use css var */
.layout__breadcrumb-separator {
  font-size: 20px;
}

.layout__header {
  /** xxx: remove */
  --item-size: 1.9rem;

  position: fixed;
  z-index: 501;
  top: 0;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1.5px solid var(--border);
  -webkit-backdrop-filter: blur(10px) brightness(75%);
  backdrop-filter: blur(10px) brightness(75%);
  background-color: transparent;
  font-weight: bold;
  padding-block: var(--s-2);
  padding-inline: var(--s-4);
}

.layout__avatar {
  width: var(--item-size);
  height: var(--item-size);
}

.layout__page-heading {
  display: flex;
  align-items: center;
  font-size: var(--fonts-md);
  font-weight: var(--bold);
  gap: var(--s-2-5);
  letter-spacing: 0.02rem;
}

.layout__header__right-container {
  display: flex;
  gap: var(--s-3);
  justify-self: flex-end;
}

.layout__header__button {
  width: var(--item-size);
  height: var(--item-size);
  padding: 0.25rem;
  border: 2px solid;
  border-color: var(--theme-transparent);
  border-radius: 50%;
  background-color: transparent;
  color: inherit;
  cursor: pointer;
}

.layout__header__button__icon {
  width: 1.15rem;
}

.main {
  width: 100%;
  max-width: 48rem;
  margin: 0 auto;
  padding-inline: var(--s-3);
}

.half-width {
  width: 100%;
  max-width: 24rem;
  margin: 0 auto;
}

.layout__main {
  padding-block-end: var(--s-32);
  padding-block-start: var(--s-20);
}

.layout__log-in-button {
  display: flex;
  height: var(--item-size);
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  border: 2px solid;
  border-color: var(--theme-transparent);
  border-radius: var(--rounded);
  background-color: transparent;
  color: inherit;
  cursor: pointer;
  font-size: var(--fonts-xs);
  font-weight: var(--bold);
  gap: var(--s-2);
  text-decoration: none;
}

.layout__log-in-button > svg {
  width: 1rem;
}

.layout__log-in-button:active {
  transform: translateY(1px);
}

.layout__user-popover {
  display: flex;
  flex-direction: column;
  gap: var(--s-2);
}

.layout__user-popover > button:focus {
  outline: 2px solid var(--theme);
}

.layout__footer {
  display: flex;
  flex-direction: column;
  padding: var(--s-2-5);
  background-color: var(--bg-lighter);
  gap: var(--s-6);
  margin-block-start: auto;
}

.layout__footer__link-list {
  display: flex;
  justify-content: space-between;
  font-size: var(--fonts-xxs);
}

.layout__footer__link-list > a {
  flex: 1 1 0;
  text-align: center;
}

.layout__footer__socials {
  display: flex;
  justify-content: center;
  gap: var(--s-2);
}

.layout__footer__social-link {
  display: flex;
  max-width: 10rem;
  height: 12rem;
  flex: 1 1 0;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: var(--s-4);
  border-radius: var(--rounded);
  background-color: var(--theme-transparent);
  cursor: pointer;
  font-size: var(--fonts-lg);
}

.layout__footer__social-icon {
  height: 2.25rem;
  transition: transform 0.25s ease-in-out;
}

.layout__footer__social-link:hover > .layout__footer__social-icon {
  transform: translateY(-0.3rem);
}

.layout__footer__social-header {
  text-align: center;
}

.layout__footer__social-header > p {
  font-size: var(--fonts-xxs);
}

.layout__footer__patron-title {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: var(--fonts-sm);
  font-weight: var(--semi-bold);
  gap: var(--s-2);
}

.layout__footer__patron-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  font-size: var(--fonts-xs);
  gap: var(--s-1);
  list-style: none;
  margin-block-start: var(--s-2);
}

.layout__copyright-note {
  color: var(--text-lighter);
  font-size: var(--fonts-xxs);
  text-align: center;
}

.layout__side-nav {
  position: fixed;
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  gap: var(--s-6);
  overflow-y: auto;
  padding-inline: var(--s-4);
}

.layout__side-nav-image-container {
  display: grid;
  width: 40px;
  height: 40px;
  border-radius: var(--rounded);
  background-color: var(--bg-lighter);
  place-items: center;
  transition: all 0.2s ease-out;
}

.layout__side-nav-image-container:hover {
  background-color: var(--theme-transparent);
}

@media screen and (max-width: 900px) {
  .layout__side-nav {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  .layout__header__right-container {
    display: none;
  }

  .layout__breadcrumb-container > a {
    max-width: 175px;
  }

  .layout__footer__socials {
    flex-direction: column;
  }

  .layout__footer__social-link {
    max-width: initial;
    flex-direction: row;
  }

  .layout__footer__social-header {
    display: flex;
    align-items: center;
    gap: var(--s-2);
    text-align: initial;
  }

  .layout__footer__social-header > p {
    margin-block-start: var(--s-1);
  }

  .layout__footer__social-icon {
    height: 1.75rem;
  }

  .layout__footer__social-link:hover > .layout__footer__social-icon {
    transform: translateX(-0.3rem);
  }
}
