.maps__container {
	max-width: 38rem;
}

.maps__pool-selector {
	padding-block: var(--s-3);
}

.maps__pool-meta {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.maps__pool-info {
	font-size: var(--fonts-xs);
	font-weight: var(--bold);
}

.maps__pool-info a {
	font-weight: var(--semi-bold);
}

.maps__tournament-map-list-link {
	font-size: var(--fonts-xxs);
	text-align: center;
}

.maps__stage-row {
	display: flex;
	width: 100%;
	align-items: center;
	gap: var(--s-3);
}

.maps__stage-name-row {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	align-items: center;
	justify-content: space-between;
	border-radius: var(--rounded);
	background-color: var(--bg-lighter);
	font-size: var(--fonts-xs);
	font-weight: var(--semi-bold);
	gap: var(--s-2);
	padding-block: var(--s-1-5);
	padding-inline: var(--s-3);
}

@media screen and (min-width: 640px) {
	.maps__stage-name-row {
		flex-direction: row;
	}
}

.maps__mode-buttons-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: var(--s-1-5);
}

.maps__mode-button {
	padding: 0;
	padding: var(--s-1);
	border: 2px solid var(--bg-darker);
	border-radius: var(--rounded-full);
	background-color: transparent;
	color: var(--theme);
	opacity: 1 !important;
	outline: initial;
}

.maps__mode-button.selected {
	border: 2px solid transparent;
	background-color: var(--bg-mode-active);
}

.maps__mode-button.preselected {
	border: 2px solid var(--theme-info);
	background-color: var(--bg-mode-active);
}

.maps__stage-image {
	border-radius: var(--rounded);
}

.maps__mode:not(.selected, .preselected) {
	filter: var(--inactive-image-filter);
	opacity: 0.6;
}

.maps__map-list-creator {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: var(--s-4);
}

.maps__toggle-container {
	--label-margin: 0;

	display: flex;
	align-items: center;
	justify-content: center;
	gap: var(--s-2);
}

.maps__map-list {
	font-size: var(--fonts-xs);
	font-weight: var(--semi-bold);
	margin-block-start: var(--s-4);
}

.maps__mode-abbr {
	color: var(--text-lighter);
	font-weight: var(--bold);
	text-decoration: none;
}

.maps__template-selection {
	display: grid;
	gap: var(--s-2);
	grid-template-columns: 1fr;
}

@media screen and (min-width: 640px) {
	.maps__template-selection {
		grid-template-columns: 1fr 1fr;
	}
}
