.maps__container {
  max-width: 32rem;
}

.maps__pool-info {
  font-size: var(--fonts-xxs);
  font-weight: var(--semi-bold);
}

.maps__tournament-map-list-link {
  font-size: var(--fonts-xxs);
  text-align: center;
}

.maps__stage-row {
  display: flex;
  width: 100%;
  align-items: center;
  gap: var(--s-3);
}

.maps__stage-name-row {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
  border-radius: var(--rounded);
  background-color: var(--bg-lighter);
  font-size: var(--fonts-xs);
  font-weight: var(--semi-bold);
  gap: var(--s-2);
  padding-block: var(--s-1-5);
  padding-inline: var(--s-3);
}

@media screen and (min-width: 640px) {
  .maps__stage-name-row {
    flex-direction: row;
  }
}

.maps__mode-buttons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--s-1-5);
}

.maps__mode-button {
  padding: 0;
  padding: var(--s-1-5);
  border: none;
  border-radius: var(--rounded);
  background-color: var(--bg-darker);
  color: var(--theme);
  opacity: 1 !important;
  outline: initial;
}

.maps__mode-button.selected {
  background-color: var(--theme-very-transparent);
}

.maps__stage-image {
  border-radius: var(--rounded);
}

.maps__mode {
  filter: grayscale(100%);
}

.maps__mode.selected {
  filter: unset;
}

.maps__map-list-creator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--s-4);
}

.maps__toggle-container {
  --label-margin: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--s-2);
}

.maps__map-list {
  font-size: var(--fonts-xs);
  font-weight: var(--semi-bold);
  margin-block-start: var(--s-4);
}
