.object-damage__controls {
  display: flex;
  flex-wrap: wrap;
  gap: var(--s-5);
}

@media screen and (min-width: 640px) {
  .object-damage__controls {
    justify-content: center;
  }
}

.object-damage__ability {
  position: absolute;
}

.object-damage__ap-label {
  display: flex;
  justify-content: center;
  gap: var(--s-1-5);
}

.object-damage__grid {
  display: grid;
  width: 100%;
  column-gap: var(--s-6);
  overflow-x: auto;
  place-items: center;
  row-gap: var(--s-3);
}

.object-damage__hp {
  font-size: var(--fonts-xs);
  font-weight: var(--semi-bold);
}

.object-damage__table-header {
  position: sticky;
  top: 0;
  width: 100%;
  border-radius: var(--rounded);
  background-color: var(--bg-lightest);
  font-size: var(--fonts-xs);
  font-weight: var(--semi-bold);
  padding-block: var(--s-2);
  padding-inline: var(--s-2);
  text-align: center;
  white-space: nowrap;
}

.object-damage__distance {
  color: var(--text-lighter);
  font-size: var(--fonts-xxs);
  margin-block-start: var(--s-1);
}

.object-damage__receiver-image {
  padding: var(--s-2);
  border-radius: var(--rounded);
  background-color: var(--bg-lightest);
}

.object-damage__table-card {
  display: grid;
  width: 100%;
  height: 100%;
  padding: var(--s-2);
  border-radius: var(--rounded);
  background-color: var(--bg-lighter);
  font-size: var(--fonts-xs);
  font-weight: var(--semi-bold);
  place-items: center;
}

.object-damage__table-card__results {
  display: grid;
  column-gap: var(--s-2);
  grid-template-columns: 1fr 1fr;
  padding-inline: var(--s-2);
}

.object-damage__select {
  width: initial;
}

.object-damage__abbr {
  color: var(--text-lighter);
  font-weight: var(--bold);
  text-decoration: none;
}

.object-damage__multiplier {
  color: var(--theme);
  font-size: var(--fonts-xxs);
  font-weight: var(--bold);
  letter-spacing: 0.5px;
  margin-block-start: var(--s-2);
}

.object-damage__bottom-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.object-damage__patch {
  border-radius: var(--rounded);
  background-color: var(--theme-transparent);
  color: var(--text-lighter);
  font-size: var(--fonts-xxxs);
  font-weight: var(--bold);
  padding-block: var(--s-0-5);
  padding-inline: var(--s-1);
}
