.layout__header {
  display: none;
}

.tl-canvas {
  background-color: var(--bg);
}

.plans__top-section {
  position: fixed;
  z-index: 10;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.plans__weapons-section {
  position: fixed;
  z-index: 10;
  top: 15%;
  display: flex;
  width: 130px;
  flex-wrap: wrap;
  justify-content: center;
  padding: var(--s-2);
  border-radius: 0 var(--rounded) var(--rounded) 0;
  background: var(--bg-darker);
  gap: 2px;
}
