.play-add-players__container {
  display: flex;
  flex-direction: column;
  gap: var(--s-4);
}

.play-add-players__button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--s-3);
}
