.play-layout__link-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-block-end: var(--s-4);
}

.play-layout__link {
  display: flex;
  flex: 1;
  justify-content: center;
  font-size: var(--fonts-xs);
  font-weight: var(--body);
}

.play-layout__link.active {
  color: var(--theme-secondary);
}

.play__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  background-color: var(--bg-lighter);
  border-radius: var(--rounded);
  max-inline-size: 24rem;
  padding-block-end: var(--s-3);
  padding-block-start: var(--s-2);
  padding-inline: var(--s-2);
}

.play__card__ranked-text {
  background-color: var(--bg-lighter);
  border-radius: var(--rounded);
  color: var(--theme-secondary);
  font-size: var(--fonts-xxs);
  font-weight: var(--semi-bold);
  margin-block-start: -17px;
  padding-block: var(--s-0-5);
  padding-inline: var(--s-2);
}

.play__card__ranked-text.ranked {
  color: var(--theme);
}

.play__card__mmr {
  font-size: var(--fonts-sm);
  font-weight: var(--bold);
}

.play__card__button {
  margin-block-start: var(--s-2);
}

.play__card__button-small {
  font-size: var(--fonts-xxs) !important;
  margin-block-start: var(--s-1);
}

.play__card__members {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--s-2);
  margin-block-end: var(--s-1);
  margin-block-start: var(--s-1-5);
}

.play__card__member-card {
  display: flex;
  min-width: calc(50% - var(--s-4));
  max-width: calc(50% - var(--s-4));
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-darker);
  border-radius: var(--rounded);
  overflow-x: hidden;
  padding-block-end: var(--s-1);
  padding-block-start: var(--s-2);
}

.play__card__member-name {
  font-size: var(--fonts-xs);
  font-weight: var(--semi-bold);
  margin-block-start: 1px;
  white-space: nowrap;
}

.play__card__captain {
  color: var(--theme-info);
  font-weight: var(--bold);
}

.play__card__member-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text-color);
}

.play__card__member-mmr {
  margin-top: -4px;
  font-size: var(--fonts-xxs);
}

.play__card__mmr-relation {
  display: flex;
  width: 100%;
  justify-content: center;
  font-size: var(--fonts-sm);
  font-weight: var(--semi-bold);
  gap: var(--s-2);
}

.play__card__mmr-relation > svg {
  width: 1rem;
}

.play__card__replay {
  color: var(--theme-info);
  font-size: var(--fonts-sm);
  font-weight: var(--semi-bold);
}

.play__card__member-power {
  display: flex;
  margin-top: -4px;
  font-size: var(--fonts-xxs);
  gap: var(--s-1);
}

.play__card__member-weapons {
  display: flex;
  gap: var(--s-1);
}

.play__card__member-weapon {
  width: 1.5rem;
  height: 1.5rem;
}

.play__card__member-power.league {
  filter: hue-rotate(180deg);
}
