.play-looking__waves {
  padding: var(--s-8);
  background: url("/svg/background-pattern.svg");
  background-color: var(--bg-lighter);
  border-radius: var(--rounded);
}

.play-looking__waves-text {
  padding: var(--s-4);
  background-color: var(--bg-darker);
  border-radius: var(--rounded);
  font-size: var(--fonts-sm);
  margin-block-start: var(--s-4);
  text-align: center;
}

.play-looking__waves-button {
  display: flex;
  justify-content: center;
  margin-block-start: var(--s-4);
}

.play-looking__divider {
  display: none;
  margin-block: var(--s-4);
}

.play-looking__tabs {
  display: block;
  margin-block-start: var(--s-4);
}

.play-looking__tab-list {
  position: sticky;
  top: 0;
}

.play-looking__columns {
  display: none;
  column-gap: var(--s-5);
  grid-template-columns: repeat(3, 1fr);
}

.play-looking__cards {
  display: flex;
  flex-direction: column;
  gap: var(--s-5);
  margin-block-start: var(--s-4);
}

.play-looking__column-header {
  font-size: var(--fonts-md);
  text-align: center;
}

.play-looking__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  background-color: var(--bg-lighter);
  border-radius: var(--rounded);
  max-inline-size: 24rem;
  padding-block-end: var(--s-3);
  padding-block-start: var(--s-2);
  padding-inline: var(--s-2);
}

.play-looking__ranked-text {
  background-color: var(--bg-lighter);
  border-radius: var(--rounded);
  color: var(--theme-secondary);
  font-size: var(--fonts-xxs);
  font-weight: var(--semi-bold);
  margin-block-start: -17px;
  padding-block: var(--s-0-5);
  padding-inline: var(--s-2);
}

.play-looking__ranked-text.ranked {
  color: var(--theme);
}

.play-looking__card__members {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--s-2);
  margin-block-end: var(--s-1);
  margin-block-start: var(--s-1-5);
}

.play-looking__card__button {
  margin-block-start: var(--s-2);
}

.play-looking__member-card {
  display: flex;
  min-width: calc(50% - var(--s-4));
  max-width: calc(50% - var(--s-4));
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-darker);
  border-radius: var(--rounded);
  overflow-x: hidden;
  padding-block-end: var(--s-1);
  padding-block-start: var(--s-2);
}

.play-looking__member-name {
  font-size: var(--fonts-xs);
  font-weight: var(--semi-bold);
  margin-block-start: 1px;
  white-space: nowrap;
}

.play-looking__mmr {
  font-size: var(--fonts-sm);
  font-weight: var(--bold);
}

.play-looking__member-mmr {
  margin-top: -4px;
  font-size: var(--fonts-xxs);
}

@media screen and (min-width: 768px) {
  .play-looking__divider {
    display: block;
  }

  .play-looking__columns {
    display: grid;
  }

  .play-looking__tabs {
    display: none;
  }
}
