.play__own-mmr {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.2;
  margin-block-end: var(--s-6);
}

.play__own-mmr__mmr {
  font-size: var(--fonts-xl);
}

.play__own-mmr__topx {
  color: var(--text-lighter);
  font-size: var(--fonts-sm);
}

.play__type-radio-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.play__type-radio-group__item {
  display: flex;
  max-width: 24rem;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  background-color: var(--bg-lighter-transparent);
  border-radius: var(--rounded);
}

.play__type-radio-group__item.top-half {
  border-radius: 0;
  border-start-end-radius: var(--rounded);
  border-start-start-radius: var(--rounded);
}

/* stylelint-disable */
.play__type-radio-group__item.bottom-half {
  border-radius: 0;
  border-end-end-radius: var(--rounded);
  border-end-start-radius: var(--rounded);
}
/* stylelint-enable */

.play__type-radio-group__item:hover {
  background-color: var(--theme-transparent);
}

.play__type-radio-group__item.checked {
  background-color: var(--theme);
  color: var(--button-text);
}

.play__type-radio-group__label {
  display: grid;
  width: 100%;
  font-size: var(--fonts-sm);
  font-weight: var(--semi-bold);
  grid-template-columns: 50px 2fr 1fr;
  margin-inline-start: var(--s-2);
  place-items: center;
}

.play__type-radio-group__label__explanation {
  color: var(--text-lighter);
  font-size: var(--fonts-xs);
  margin-block-start: 1px;
  margin-inline-end: auto;
  margin-inline-start: var(--s-2);
}

.play__type-radio-group__label__explanation.checked {
  color: var(--button-text-transparent);
}

.play__type-radio-group__label__count {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3px;
  color: var(--text-lighter);
  font-size: var(--fonts-xs);
  font-weight: var(--bold);
  margin-inline-start: auto;
}

.play__type-radio-group__label__count.scooted-over {
  margin-block-end: -30px;
}

.play__type-radio-group__label__count.checked {
  color: var(--button-text-transparent);
}

.play__type-radio-group__label__icon {
  width: 1rem;
}

.play__forced-black-number {
  color: var(--button-text-transparent);
}

.play__forced-white-number {
  color: var(--text-lighter);
}

.play__type-radio-group__image {
  width: 2rem;
  height: 2rem;
  transition: transform 0.2s ease-out;
  visibility: hidden;
}

.play__type-radio-group__image.checked {
  transform: scale(1.75);
}

.play__continue-button {
  margin: 0 auto;
  margin-block-start: var(--s-6);
}

.play__action-needed {
  font-size: var(--fonts-sm);
  font-weight: var(--semi-bold);
  margin-block-start: var(--s-6);
  text-align: center;
}
