.plus__container {
  max-width: 24rem;
  margin-inline: auto;
}

.plus__suggested-info-text {
  color: var(--text-lighter);
  font-size: var(--fonts-lg);
}

.plus__radios {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--s-5);
}

.plus__radio-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--s-1);
}

.plus__radio-label {
  font-size: var(--fonts-sm);
  margin-block-end: 0;
}

.plus__users-count {
  color: var(--text-lighter);
  font-size: var(--fonts-xxs);
}

.plus__suggested-user-info {
  display: flex;
  align-items: center;
  gap: var(--s-2);
}

.plus__comment-button {
  max-width: 12rem;
  margin-inline-start: auto;
}

.plus__view-comments-action {
  color: var(--text-lighter);
  font-size: var(--fonts-xs);
  font-weight: var(--semi-bold);
}

.plus__comment {
  white-space: pre-wrap;
}

.plus__comment-time {
  color: var(--text-lighter);
  font-size: var(--fonts-xxs);
}

.plus__modal {
  width: min(90%, 24rem);
}

.plus__modal-title {
  font-size: var(--fonts-sm);
}

.plus__modal-textarea {
  width: 100%;
  resize: none;
}

.plus__modal-buttons {
  display: flex;
  justify-content: flex-end;
  gap: var(--s-4);
}
