.tournament-match-modal__round-name {
  color: var(--theme);
  font-size: var(--fonts-sm);
}

.tournament-match-modal__rounds {
  display: flex;
  flex-direction: column;
  gap: var(--s-8);
  padding-block-start: var(--s-4);
}

.tournament-match-modal__round {
  display: flex;
  flex-direction: column;
  gap: var(--s-4);
  padding-block-start: var(--s-4);
}
