.tournament__action-section {
  padding: var(--s-6);
  border-radius: var(--rounded);
  background-color: var(--bg-lighter);
  font-size: var(--fonts-lg);
  font-weight: var(--bold);
}

.tournament__action-side-note {
  color: var(--text-lighter);
  font-size: var(--fonts-xs);
  font-weight: var(--semi-bold);
}

.tournament__map-pool-counts {
  display: grid;
  width: 250px;
  margin: 0 auto;
  color: var(--text-lighter);
  font-size: var(--fonts-xs);
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  row-gap: var(--s-2);
}

.tournament__summary-content {
  display: inline-flex;
  gap: var(--s-3);
}

.tournament__summary-content > svg {
  width: 1rem;
}
