.tournament__manage-roster {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: var(--s-8);
  margin-block-start: var(--s-4);
}

.tournament__manage-roster__roster-container {
  margin: 0 auto;
}

.tournament__manage-roster__actions {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: var(--s-14);
  row-gap: var(--s-8);
}

.tournament__manage-roster__actions__section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tournament__manage-roster__input {
  width: min(100%, 20rem);
}

.tournament__manage-roster__select {
  width: min(100%, 10rem);
}

.tournament__manage-roster__input__button {
  margin-block-start: var(--s-4);
}
