.tournament__manage-roster {
  display: flex;
  flex-direction: column;
  gap: var(--s-8);
  margin-block-start: var(--s-4);
  width: 100%;
}

.tournament__manage-roster__actions-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.tournament__manage-roster__input {
  width: min(100%, 45rem);
  height: 10rem;
}

.tournament__manage-roster__input__copy-button {
  margin-block-start: var(--s-2);
}
