.tournament__container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.tournament__container__spacer {
  margin-bottom: var(--s-3);
}

.tournament__action-section {
  width: 100%;
  padding: var(--s-1-5);
  background: var(--tournaments-background);
  border-radius: var(--rounded);
}

.tournament__action-section__content {
  display: flex;
  width: 100%;
  align-items: center;
  padding: var(--s-2);
  background-color: var(--bg-lighter);
  border-radius: var(--rounded);
  font-size: var(--fonts-sm);
  font-weight: var(--semi-bold);
  gap: var(--s-1-5);
}

.tournament__action-section__button-container {
  margin-inline-start: auto;
}

.tournament__action-section__content > svg {
  width: 1.5rem;
  fill: var(--action-section-icon-color);
}

.tournament__links-overflower {
  width: 100%;
  overflow-x: auto;
}

.tournament__links-border {
  display: inline-block;
  min-width: 100%;
  padding: var(--s-1-5);
  background: var(--tournaments-background);
  border-radius: var(--rounded);
}

.tournament__links-container {
  display: grid;
  border-radius: var(--rounded);
  grid-template-columns: repeat(var(--tabs-count), minmax(100px, 1fr));
  place-items: center;
}

.tournament__nav-link {
  all: unset;
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: var(--bg-lighter);
  color: var(--text);
  cursor: pointer;
  font-size: var(--fonts-sm);
  gap: var(--s-1);
  padding-block: var(--s-1-5);
}

.tournament__nav-link > svg {
  width: 1rem;
}

.tournament__nav-link:first-of-type {
  border-bottom-left-radius: var(--rounded);
  border-top-left-radius: var(--rounded);
}

.tournament__nav-link:last-of-type {
  border-bottom-right-radius: var(--rounded);
  border-top-right-radius: var(--rounded);
}

.tournament__nav-link:hover {
  font-weight: var(--bold);
}

.tournament__nav-link:focus-visible {
  background-color: var(--bg-lighter-transparent);
}

.tournament__nav-link.active {
  background-color: transparent;
  color: var(--tournaments-text);
  font-weight: var(--bold);
}

.info-banner {
  width: 100%;
  padding: var(--s-6);
  background: var(--tournaments-background);
  border-radius: var(--rounded);
  color: var(--tournaments-text);
}

.info-banner__top-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: var(--s-4);
}

.info-banner__top-row__date-name {
  display: flex;
  align-items: center;
  gap: var(--s-4);
}

.info-banner__top-row__month-date {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.25;
}

.info-banner__top-row__month-date__month {
  font-size: var(--fonts-xs);
  text-transform: uppercase;
}

.info-banner__top-row__month-date__date {
  font-size: var(--fonts-lg);
  font-weight: var(--bold);
}

.info-banner__top-row__tournament-name {
  border-color: var(--tournaments-text);
  border-inline-start: 1px solid;
  color: var(--tournaments-text);
  font-size: var(--fonts-xl);
  font-weight: var(--extra-bold);
  padding-inline-start: var(--s-4);
  text-decoration: none;
}

.info-banner__bottom-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: var(--s-4);
}

.info-banner__bottom-row__infos {
  display: flex;
  flex-wrap: wrap;
  gap: var(--s-4);
  margin-block-start: var(--s-8);
}

.info-banner__icon-buttons-container {
  display: flex;
  gap: var(--s-4);
}

.info-banner__bottom-row__info-container {
  font-size: var(--fonts-xs);
}

.info-banner__bottom-row__info-label {
  font-weight: var(--extra-bold);
}

.info-banner__icon-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: var(--s-2);
  border: 1px solid;
  border-color: var(--tournaments-text-transparent);
  block-size: 2.25rem;
  border-radius: 50%;
  color: inherit;
  inline-size: 2.25rem;
}

.info-banner__icon-button:active {
  transform: translateY(1px);
}

.info-banner__icon-button:focus-visible {
  outline: 2px solid var(--tournaments-text-transparent);
}

.info-banner__action-button {
  all: unset;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid;
  border-color: var(--tournaments-text-transparent);
  border-radius: var(--rounded);
  color: inherit;
  cursor: pointer;
  font-size: var(--fonts-sm);
  font-weight: var(--bold);
  padding-block: var(--s-2);
  padding-inline: var(--s-4);
  text-decoration: none;
}

.info-banner__action-button:active {
  transform: translateY(1px);
}

.info-banner__action-button:focus-visible {
  outline: 2px solid var(--tournaments-text-transparent);
}

.tournament__outlet-spacer {
  padding-block-start: var(--s-8);
}

/* separate .css file..? */
.teams-tab {
  display: flex;
  flex-direction: column;
  gap: var(--s-10);
}

.teams-tab__team-container {
  display: grid;
  column-gap: var(--s-6);
  grid-template-columns: 1fr;
  row-gap: var(--s-4);
}

.teams-tab__team-name {
  display: flex;
  align-self: center;
  border-block-end: 2px solid var(--theme);
  font-size: var(--fonts-lg);
  font-weight: var(--extra-bold);
  justify-self: center;
}

.teams-tab__members-container {
  display: flex;
  flex-direction: column;
  gap: var(--s-4);
}

.teams-tab__member {
  display: flex;
  align-items: center;
  gap: var(--s-3);
}

.teams-tab__member__order-number {
  color: var(--theme-secondary);
  font-size: var(--fonts-sm);
  font-weight: bold;
}

.teams-tab__member__container {
  display: flex;
  align-items: center;
  font-weight: var(--semi-bold);
  gap: var(--s-3);
}

.teams-tab__member__container__name-button {
  display: flex;
  align-items: center;
  gap: var(--s-2);
}

.teams-tab__member__avatar {
  block-size: 2.5rem;
  border-radius: var(--rounded);
  filter: none;
  inline-size: 2.5rem;
  text-indent: -10000px;
}

.teams-tab__member__placeholder {
  background-image: url("/svg/background-pattern.svg");
  block-size: 2.5rem;
  border-radius: var(--rounded);
  inline-size: 2.5rem;
}

@media screen and (min-width: 480px) {
  .info-banner__bottom-row__infos {
    gap: var(--s-8);
  }
}

@media screen and (min-width: 640px) {
  .info-banner__bottom-row {
    flex-direction: row;
    align-items: flex-end;
  }

  .teams-tab__team-container {
    grid-template-columns: 1fr 1fr;
  }

  .teams-tab__team-name {
    border-bottom: none;
    justify-self: flex-end;
  }

  .teams-tab__members-container {
    border-inline-start: 2px solid var(--theme);
    padding-inline-start: var(--s-6);
  }

  .tournament__nav-link:last-of-type {
    padding-inline-end: 0;
  }
}

@media screen and (min-width: 768px) {
  .tournament__container {
    width: 48rem;
  }
}
