.tournament__admin__buttons-container {
  display: flex;
  justify-content: space-evenly;
  gap: var(--s-6);
  margin-block-end: var(--s-8);
}

.tournament__admin__form {
  width: 100%;
  margin-block-start: var(--s-4);
}

.tournament__admin__alert {
  width: 100%;
}

.tournament__admin__alert__button {
  margin-inline-start: auto;
}

.tournament__admin__alert__button.hidden {
  visibility: hidden;
}

/* TODO: overflow-x scroll */
.tournament__admin__teams-list-row {
  display: grid;
  width: 100%;
  align-items: center;
  padding: var(--s-3);
  border-radius: var(--rounded);
  column-gap: var(--s-1);
  font-size: var(--fonts-sm);
  grid-template-columns: 1fr 3fr 3fr 1fr;
  list-style: none;
  row-gap: var(--s-1-5);
}

.tournament__admin__teams-list-row.sortable:not(.disabled) {
  cursor: grab;
}

.tournament__admin__teams-list-row.sortable:hover:not(.disabled) {
  background-color: var(--bg-lighter);
}

.tournament__admin__teams-list-row.sortable:active:not(.disabled) {
  cursor: grabbing !important;
}

.tournament__admin__teams-container__header {
  font-weight: var(--bold);
}

.tournament__admin__ok {
  color: var(--theme-success);
}

.tournament__admin__problem {
  color: var(--theme-error);
}
