.tournament__admin__buttons-container {
  display: flex;
  justify-content: space-evenly;
  gap: var(--s-6);
  margin-block-end: var(--s-8);
}

.tournament__admin__alert {
  width: 100%;
  margin-block-start: var(--s-4);
}

/* TODO: overflow-x scroll */
.tournament__admin__teams-container {
  display: grid;
  width: 100%;
  column-gap: var(--s-1);
  font-size: var(--fonts-sm);
  grid-template-columns: 1fr 3fr 3fr 1fr;
  margin-block-start: var(--s-4);
  row-gap: var(--s-1-5);
}

.tournament__admin__teams-container__header {
  font-weight: var(--bold);
}

.tournament__admin__ok {
  color: var(--theme-success);
}

.tournament__admin__problem {
  color: var(--theme-error);
}
