.tournament-match-modal__vs-title {
  margin-inline-end: var(--s-3);
}

.tournament-match-modal__score-title {
  color: var(--theme-secondary);
}

.tournament-match-modal__round-name {
  color: var(--theme);
  font-size: var(--fonts-sm);
}

.tournament-match-modal__error-msg {
  color: var(--theme-error);
  font-size: var(--fonts-sm);
  
  /* Prevent layout shift */
  padding-block: 0.16rem;
}

.tournament-match-modal__reset-match-msg {
  max-width: 24rem;
  font-size: var(--fonts-xs);
}

.tournament-match-modal__rounds {
  display: flex;
  flex-direction: column;
  gap: var(--s-8);
  padding-block-start: var(--s-4);
}

.tournament-match-modal__round {
  display: flex;
  flex-direction: column;
  gap: var(--s-4);
  padding-block-start: var(--s-4);
}
