.tournament__register__container {
  padding-block-start: var(--s-4);
}

.tournament__register__header {
  margin-top: 0;
  font-size: var(--fonts-lg);
  font-weight: var(--bold);
  list-style: none;
  user-select: none;
}

.tournament__register__content {
  width: min(24rem, 100%);
  margin-block-start: var(--s-4);
}

.tournament__register__buttons-container {
  display: flex;
  gap: var(--s-2);
  margin-block-start: var(--s-6);
}

.tournament__invite-players__actions-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.tournament__invite-players__input {
  width: min(100%, 45rem);
  height: 10rem;
}

.tournament__invite-players__input__copy-button {
  margin-block-start: var(--s-2);
}
