.u-edit__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--s-6);
}

.u-edit__country-select {
  max-width: 10rem;
}

.u-edit__bio-textarea {
  width: 18rem;
  max-width: 100%;
  height: 8rem;
}
