.u__container {
  display: flex;
  flex-direction: column;
  gap: var(--s-8);
}

.u__avatar-container {
  display: grid;
  justify-content: center;
  column-gap: var(--s-2-5);
  grid-template-areas: "avatar name" "avatar country" "avatar ." "avatar team" "socials .";
}

.u__avatar {
  grid-area: avatar;
}

.u__name {
  grid-area: name;
}

.u__discriminator {
  color: var(--text-lighter);
}

.u__country {
  display: flex;
  align-items: center;
  gap: var(--s-1);
  grid-area: country;
  line-height: 0.75;
}

.u__country-name {
  color: var(--text-lighter);
  font-weight: var(--bold);
}

.u__country-emoji {
  font-size: var(--fonts-lg);
}

.u__socials {
  display: flex;
  justify-content: center;
  gap: var(--s-1-5);
  grid-area: socials;
  padding-block-start: var(--s-2-5);
}

.u__social-link {
  padding: var(--s-1);
  border: 1px solid;
  border-radius: 50%;
}

.u__social-link > svg {
  width: 0.9rem;
}

.u__social-link.youtube {
  border-color: #f00;
  background-color: #ff00002f;
}

.u__social-link.youtube > svg {
  fill: #f00;
}

.u__social-link.twitter {
  border-color: #1da1f2;
  background-color: #1da0f22f;
}

.u__social-link.twitter > svg {
  fill: #1da1f2;
}

.u__social-link.twitch {
  border-color: #9146ff;
  background-color: #9146ff2f;
}

.u__social-link.twitch > svg {
  fill: #9146ff;
}

.u__bio {
  white-space: pre-wrap;
}
