.u__container {
  display: flex;
  flex-direction: column;
  gap: var(--s-6);
}

.u__avatar-container {
  display: grid;
  justify-content: center;
  column-gap: var(--s-2-5);
  grid-template-areas: "avatar name" "avatar country" "avatar ." "avatar team" "socials .";
}

.u__avatar {
  grid-area: avatar;
}

.u__name {
  grid-area: name;
  overflow-wrap: anywhere;
}

.u__discriminator {
  color: var(--text-lighter);
}

.u__country {
  display: flex;
  align-items: center;
  gap: var(--s-1);
  grid-area: country;
  line-height: 0.75;
}

.u__country-name {
  color: var(--text-lighter);
  font-weight: var(--bold);
}

.u__country-emoji {
  font-size: var(--fonts-lg);
}

.u__socials {
  display: flex;
  justify-content: center;
  gap: var(--s-1-5);
  grid-area: socials;
  padding-block-start: var(--s-2-5);
}

.u__social-link {
  padding: var(--s-1);
  border: 1px solid;
  border-radius: 50%;
}

.u__social-link > svg {
  width: 0.9rem;
}

.u__social-link.youtube {
  border-color: #f00;
  background-color: #ff00002f;
}

.u__social-link.youtube > svg {
  fill: #f00;
}

.u__social-link.twitter {
  border-color: #1da1f2;
  background-color: #1da0f22f;
}

.u__social-link.twitter > svg {
  fill: #1da1f2;
}

.u__social-link.twitch {
  border-color: #9146ff;
  background-color: #9146ff2f;
}

.u__social-link.twitch > svg {
  fill: #9146ff;
}

.u__extra-infos {
  display: flex;
  max-width: 24rem;
  flex-wrap: wrap;
  gap: var(--s-2-5);
  margin-inline: auto;
}

.u__extra-info {
  padding: var(--s-1) var(--s-1-5);
  background-color: var(--bg-darker);
  border-radius: var(--rounded);
  font-size: var(--fonts-xxs);
}

.u__extra-info__heading {
  color: var(--theme);
  font-weight: var(--bold);
}

.u__badges {
  display: flex;
  max-width: 24rem;
  align-items: center;
  padding: var(--s-2);
  background-color: var(--bg-badge);
  border-radius: var(--rounded);
  margin-inline: auto;
}

.u__small-badges {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  gap: var(--s-3);
}

.u__badge-explanation {
  color: var(--text-lighter);
  font-size: var(--fonts-xs);
  text-align: center;
}

.u__small-badge-container {
  position: relative;
}

.u__small-badge-count {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: -8px;
  margin-right: auto;
  margin-left: auto;
  color: var(--theme-vibrant);
  font-size: var(--fonts-xxxs);
  font-weight: var(--bold);
}

.u__results-table-wrapper {
  width: 100%;
  overflow-x: auto;
}

.u__results-table-highlights {
  border: var(--s-2) solid var(--bg-lighter);
  padding-inline: 0 !important;
}

.u__results-table-highlights > legend {
  margin-inline-start: var(--s-2);
  padding-inline: var(--s-1);
}

.u__results-players {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  gap: var(--s-3);
  list-style: none;
}
