.my-combobox__container {
	display: flex;
	gap: var(--s-1-5);
}

.my-combobox__button {
	background-color: var(--bg-input-darker);
	border: 2px solid var(--border);
	border-radius: var(--rounded-sm);
	padding: 0 var(--s-0-5);
}

.my-combobox__button > picture {
	min-width: 32px;
}

.my-combobox__input.my-combobox__input__wide {
	width: 248px;
}

.my-combobox__popover {
	overflow: auto;
	background-color: var(--bg-darker);
	border-radius: var(--rounded-sm);
	border: 2px solid var(--border);
	scrollbar-color: rgb(83 65 91) transparent;
	scrollbar-width: thin;
	scrollbar-gutter: stable;
	width: 247px;
}

.my-combobox__no-results-text {
	color: var(--text-lighter);
	font-size: var(--fonts-sm);
	font-weight: var(--semi-bold);
	text-align: center;
	font-style: italic;
	padding-block: var(--s-4);
}

.my-combobox__image {
	background-color: var(--bg-lighter);
	border-radius: 100%;
	padding: var(--s-0-5);
}

.my-combobox__header {
	font-size: var(--fonts-xxs);
	color: var(--text-lighter);
	font-weight: var(--semi-bold);
	letter-spacing: 0.5px;
	display: flex;
	border-bottom: 1.5px solid var(--border);
	gap: var(--s-2);
	align-items: center;
	padding-bottom: var(--s-1-5);
	background-color: var(--bg-darker);
	padding-top: var(--s-1);
	padding-left: var(--s-2-5);
}

.my-combobox__weapon__list-box-item {
	display: flex;
	align-items: center;
	gap: var(--s-1-5);
	font-size: var(--fonts-xs);
	font-weight: var(--semi-bold);
	margin-block: var(--s-1-5);
	padding-left: var(--s-2-5);
}

.my-combobox__weapon__list-box-item__focused .my-combobox__image {
	background-color: var(--theme-transparent);
}

.my-combobox__weapon__list-box-item__selected .my-combobox__image {
	outline: 1.5px solid var(--theme);
}

.my-combobox__weapon__list-box-item__disabled {
	color: var(--text-lighter);
	font-style: italic;
}

.my-combobox__weapon__list-box-item__disabled .my-combobox__image {
	filter: grayscale(100%);
}
