.text-sm {
  font-size: var(--fonts-sm);
}

.text-xs {
  font-size: var(--fonts-xs);
}

.text-lg {
  font-size: var(--fonts-lg);
}

.text-center {
  text-align: center;
}

.text-lighter {
  color: var(--text-lighter);
}

.text-error {
  color: var(--theme-error);
}

.text-success {
  color: var(--theme-success);
}

.font-semi-bold {
  font-weight: var(--semi-bold);
}

.w-full {
  width: 100%;
}

.w-24 {
  width: var(--s-24);
}

.mt-2 {
  margin-block-start: var(--s-2);
}

.mt-4 {
  margin-block-start: var(--s-4);
}

.mb-0 {
  margin-block-end: 0;
}

.mb-1 {
  margin-block-end: var(--s-1);
}

.ml-auto {
  margin-inline-start: auto;
}

.mr-auto {
  margin-inline-end: auto;
}

.mx-auto {
  margin: 0 auto;
}

.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.items-start {
  align-items: flex-start;
}

.justify-center {
  justify-content: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.all-unset {
  all: unset;
}
