.text-xl {
  font-size: var(--fonts-xl);
}

.text-lg {
  font-size: var(--fonts-lg);
}

.text-sm {
  font-size: var(--fonts-sm);
}

.text-md {
  font-size: var(--fonts-md);
}

.text-xs {
  font-size: var(--fonts-xs);
}

.text-xxs {
  font-size: var(--fonts-xxs);
}

.text-center {
  text-align: center;
}

.text-main-forced {
  color: var(--text) !important;
}

.text-lighter {
  color: var(--text-lighter);
}

.text-error {
  color: var(--theme-error);
}

.text-success {
  color: var(--theme-success);
}

.text-info {
  color: var(--theme-info);
}

.text-warning {
  color: var(--theme-warning);
}

.text-theme {
  color: var(--theme);
}

.text-theme-secondary {
  color: var(--theme-secondary);
}

.text-uppercase {
  text-transform: uppercase;
}

.text-capitalize {
  text-transform: capitalize;
}

.fill-success {
  fill: var(--theme-success);
}

.fill-warning {
  fill: var(--theme-warning);
}

.fill-error {
  fill: var(--theme-error);
}

.bg-transparent-important {
  background-color: transparent !important;
}

.bg-darker-transparent {
  background-color: var(--bg-darker-transparent);
}

.bg-theme-transparent-important {
  background-color: var(--theme-transparent) !important;
}

.rounded {
  border-radius: var(--rounded);
}

.rounded-sm {
  border-radius: var(--rounded-sm);
}

.rounded-full {
  border-radius: 100%;
}

.font-body {
  font-weight: var(--body);
}

.font-semi-bold {
  font-weight: var(--semi-bold);
}

.font-bold {
  font-weight: var(--bold);
}

.h-full {
  height: 100%;
}

.w-full {
  width: 100%;
}

.w-full-important {
  width: 100% !important;
}

.w-4 {
  width: var(--s-4);
}

.w-24 {
  width: var(--s-24);
}

.w-24px {
  width: 24px;
}

.w-max {
  width: max-content;
}

.px-4 {
  padding-inline: var(--s-4);
}

.py-4 {
  padding-block: var(--s-4);
}

.pl-4 {
  padding-inline-start: var(--s-4);
}

.px-2 {
  padding-inline: var(--s-2);
}

.pb-4 {
  padding-block-end: var(--s-4);
}

.pt-12-forced {
  padding-block-start: var(--s-12) !important;
}

.m-auto-0 {
  margin: auto 0;
}

.mt-auto {
  margin-block-start: auto;
}

.mt-0 {
  margin-block-start: var(--s-0);
}

.mt-1 {
  margin-block-start: var(--s-1);
}

.mt-2 {
  margin-block-start: var(--s-2);
}

.mt-3 {
  margin-block-start: var(--s-3);
}

.mt-4 {
  margin-block-start: var(--s-4);
}

.mt-6 {
  margin-block-start: var(--s-6);
}

.mb-0 {
  margin-block-end: 0;
}

.mb-1 {
  margin-block-end: var(--s-1);
}

.mb-2 {
  margin-block-end: var(--s-2);
}

.mb-4 {
  margin-block-end: var(--s-4);
}

.ml-auto {
  margin-inline-start: auto;
}

.ml-2 {
  margin-inline-start: var(--s-2);
}

.ml-4 {
  margin-inline-start: var(--s-4);
}

.mr-auto {
  margin-inline-end: auto;
}

.mr-1 {
  margin-inline-end: var(--s-1);
}

.mx-auto {
  margin: 0 auto;
}

.mx-2 {
  margin-inline: var(--s-2);
}

.my-auto {
  margin-block: auto;
}

.my-2 {
  margin-block: var(--s-2);
}

.my-3 {
  margin-block: var(--s-3);
}

.my-4 {
  margin-block: var(--s-4);
}

.m-0-auto {
  margin: 0 auto;
}

.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
}

.whitespace-pre-wrap {
  white-space: pre-wrap;
}

.whitespace-nowrap {
  white-space: nowrap;
}

.overflow-x-auto {
  overflow-x: auto;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.items-start {
  align-items: flex-start;
}

.items-end {
  align-items: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-between {
  justify-content: space-between;
}

.justify-self-end {
  justify-self: flex-end;
}

.justify-self-center {
  justify-self: center;
}

.self-center {
  align-self: center;
}

.self-start {
  align-self: flex-start;
}

.justify-self-start {
  justify-self: flex-start;
}

.flex-wrap {
  flex-wrap: wrap;
}

.all-unset {
  all: unset;
}

.outline-theme:focus {
  outline: 2px solid var(--theme);
}

.label-no-spacing {
  --label-margin: 0;
}

.mobile-hidden {
  display: none;
}

.desktop-hidden {
  display: inherit;
}

.cursor-pointer {
  cursor: pointer;
}

.line-height-tight {
  line-height: 1.3;
}

@media screen and (min-width: 480px) {
  .mobile-hidden {
    display: inherit;
  }

  .desktop-hidden {
    display: none;
  }
}
