.text-lg {
  font-size: var(--fonts-lg);
}

.text-sm {
  font-size: var(--fonts-sm);
}

.text-xs {
  font-size: var(--fonts-xs);
}

.text-xxs {
  font-size: var(--fonts-xxs);
}

.text-center {
  text-align: center;
}

.text-main-forced {
  color: var(--text) !important;
}

.text-lighter {
  color: var(--text-lighter);
}

.text-error {
  color: var(--theme-error);
}

.text-success {
  color: var(--theme-success);
}

.text-info {
  color: var(--theme-info);
}

.text-warning {
  color: var(--theme-warning);
}

.fill-success {
  fill: var(--theme-success);
}

.fill-warning {
  fill: var(--theme-warning);
}

.bg-darker-important {
  background-color: var(--bg-darker) !important;
}

.bg-transparent-important {
  background-color: transparent !important;
}

.bg-darker-transparent {
  background-color: var(--bg-darker-transparent);
}

.rounded {
  border-radius: var(--rounded);
}

.font-semi-bold {
  font-weight: var(--semi-bold);
}

.w-full {
  width: 100%;
}

.w-full-important {
  width: 100% !important;
}

.w-4 {
  width: var(--s-4);
}

.w-24 {
  width: var(--s-24);
}

.w-max {
  width: max-content;
}

.px-4 {
  padding-inline: var(--s-4);
}

.py-4 {
  padding-block: var(--s-4);
}

.pl-4 {
  padding-inline-start: var(--s-4);
}

.px-2 {
  padding-inline: var(--s-2);
}

.pb-4 {
  padding-block-end: var(--s-4);
}

.mt-2 {
  margin-block-start: var(--s-2);
}

.mt-3 {
  margin-block-start: var(--s-3);
}

.mt-4 {
  margin-block-start: var(--s-4);
}

.mb-0 {
  margin-block-end: 0;
}

.mb-1 {
  margin-block-end: var(--s-1);
}

.ml-auto {
  margin-inline-start: auto;
}

.mr-auto {
  margin-inline-end: auto;
}

.mx-auto {
  margin: 0 auto;
}

.my-4 {
  margin-block: var(--s-4);
}

.m-0-auto {
  margin: 0 auto;
}

.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
}

.whitespace-pre-wrap {
  white-space: pre-wrap;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.items-start {
  align-items: flex-start;
}

.items-end {
  align-items: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.flex-wrap {
  flex-wrap: wrap;
}

.all-unset {
  all: unset;
}

.outline-theme:focus {
  outline: 2px solid var(--theme);
}

.label-no-spacing {
  --label-margin: 0;
}
