html {
  --bg: hsl(202deg 100% 96%);
  --bg-darker: hsl(202deg 90% 90%);
  --bg-lighter: hsl(225deg 100% 88%);
  --bg-lighter-transparent: hsla(225deg 100% 88% / 50%);
  --bg-darker-very-transparent: hsl(202deg 90% 90% / 50%);
  --bg-darker-transparent: hsla(202deg 90% 90% / 65%);
  --bg-ability: rgb(3 6 7);
  --bg-badge: #000;
  --abilities-button-bg: hsl(237deg 32% 30%);
  --badge-text: rgb(255 255 255 / 95%);
  --border: hsl(237deg 100% 86%);
  --button-text: rgb(255 255 255 / 85%);
  --button-text-transparent: rgb(0 0 0 / 65%);
  --text: rgb(0 0 0 / 95%);
  --black-text: rgb(0 0 0 / 95%);
  --text-lighter: rgb(75 75 75 / 95%);
  --theme-error: rgb(199 13 6);
  --theme-error-transparent: rgba(199 13 6 / 75%);
  --theme-warning: #c9c900;
  --theme-success: #00a514;
  --theme-success-transparent: #00a51452;
  --theme-info: #1fb0d0;
  --theme-info-transparent: #1fb0d052;
  --theme: hsl(255deg 64% 63%);
  --theme-vibrant: hsl(255deg 100% 81%);
  --theme-transparent: hsl(255deg 66.7% 75% / 40%);
  --theme-very-transparent: hsl(255deg 66.7% 75% / 30%);
  --theme-transparent-vibrant: hsl(255deg 100% 81% / 54%);
  --theme-semi-transparent-vibrant: hsl(255deg 100% 81% / 75%);
  --theme-secondary: hsl(85deg 66.7% 55.3%);
  --rounded: 16px;
  --rounded-sm: 10px;
  --fonts-xl: 1.5rem;
  --fonts-lg: 1.2rem;
  --fonts-md: 1rem;
  --fonts-sm: 0.92rem;
  --fonts-xs: 0.8rem;
  --fonts-xxs: 0.7rem;
  --fonts-xxxs: 0.6rem;
  --fonts-xxxxs: 0.5rem;
  --extra-bold: 700;
  --bold: 600;
  --semi-bold: 500;
  --body: 400;
  --s-1: 0.25rem;
  --s-1-5: 0.375rem;
  --s-2: 0.5rem;
  --s-2-5: 0.625rem;
  --s-3: 0.75rem;
  --s-4: 1rem;
  --s-5: 1.25rem;
  --s-6: 1.5rem;
  --s-7: 1.75rem;
  --s-8: 2rem;
  --s-9: 2.25rem;
  --s-10: 2.5rem;
  --s-11: 2.75rem;
  --s-12: 3rem;
  --s-14: 3.5rem;
  --s-16: 4rem;
  --s-20: 5rem;
  --s-24: 6rem;
  --s-28: 7rem;
  --s-32: 8rem;
  --s-40: 10rem;
  --s-48: 12rem;
  --s-56: 14rem;
  --s-64: 16rem;
  --s-72: 18rem;
  --s-80: 20rem;
  --s-96: 2rem;
  --sparse: 0.4px;
  --label-margin: var(--s-1);
}

html.dark {
  --bg: hsl(237.3deg 42.3% 30.6%);
  --bg-darker: hsl(237.3deg 42.3% 26.6%);
  --bg-lighter: hsl(237.3deg 42.3% 35.6%);
  --bg-lighter-transparent: rgb(64 67 108 / 50%);
  --bg-darker-very-transparent: hsla(237.3deg 42.3% 26.6% / 50%);
  --bg-darker-transparent: hsla(237.3deg 42.3% 26.6% / 90%);
  --bg-ability: rgb(17 19 43);
  --bg-badge: #000;
  --abilities-button-bg: hsl(237.3deg 42.3% 26.6%);
  --border: hsl(237.3deg 42.3% 45.6%);
  --button-text: rgb(0 0 0 / 85%);
  --button-text-transparent: rgb(0 0 0 / 65%);
  --text: rgb(255 255 255 / 95%);
  --black-text: rgb(0 0 0 / 95%);
  --text-lighter: rgb(215 214 255 / 80%);
  --theme-error: rgb(219 70 65);
  --theme-error-transparent: rgba(219 70 65 / 75%);
  --theme-warning: #f5f587;
  --theme-success: #a3ffae;
  --theme-success-transparent: #a3ffae52;
  --theme-info: #87cddc;
  --theme-info-transparent: #87cddc52;
  --theme: hsl(255deg 66.7% 75%);
  --theme-vibrant: hsl(255deg 78% 65%);
  --theme-transparent: hsl(255deg 66.7% 75% / 40%);
  --theme-transparent-vibrant: hsl(255deg 78% 65% / 54%);
  --theme-semi-transparent-vibrant: hsl(255deg 78% 65% / 75%);
  --theme-secondary: hsl(85deg 66.7% 55.3%);
}

html.dark .light-mode-only {
  display: none;
}

html.light .dark-mode-only {
  display: none;
}

/* xs: "(min-width: 480px)",
  sm: "(min-width: 640px)",
  md: "(min-width: 768px)",
  lg: "(min-width: 1024px)",
  xl: "(min-width: 1280px)", */
