html {
  --bg: #ebebf0;
  --bg-darker: #f8f8f8;
  --bg-lighter: #ffffff;
  --bg-lightest: #ffffff;
  --bg-lighter-transparent: hsla(225deg 100% 88% / 50%);
  --bg-darker-very-transparent: rgba(187, 208, 219, 0.295);
  --bg-darker-transparent: hsla(202deg 90% 90% / 65%);
  --bg-ability: rgb(3 6 7);
  --bg-badge: #000;
  --bg-mode-active: rgba(213, 42, 190, 0.234);
  --abilities-button-bg: rgb(22, 23, 51);
  --badge-text: rgb(255 255 255 / 95%);
  --border: rgb(217, 218, 234);
  --button-text: rgba(0, 0, 0, 0.85);
  --button-text-transparent: rgb(0 0 0 / 65%);
  --text: rgb(0 0 0 / 95%);
  --black-text: rgb(0 0 0 / 95%);
  --text-lighter: rgb(75 75 75 / 95%);
  --divider: #f5a2c8;
  --theme-error: rgb(199 13 6);
  --theme-error-transparent: rgba(199 13 6 / 55%);
  --theme-warning: #c9c900;
  --theme-warning-transparent: #c9c90052;
  --theme-success: #00a514;
  --theme-success-transparent: #00a51452;
  --theme-info: #1fb0d0;
  --theme-info-transparent: #1fb0d052;
  --theme-informative-yellow: #b09901;
  --theme-informative-red: #9d0404;
  --theme-informative-blue: #007f9c;
  --theme-informative-green: #017a0f;
  --theme: #f73e8b;
  --theme-transparent: #f3a0c386;
  --theme-very-transparent: #f3a0c341;
  --theme-secondary: rgb(63 58 255);
  --backdrop-filter: blur(10px) brightness(95%);
  --rounded: 16px;
  --rounded-full: 200px;
  --rounded-sm: 10px;
  --fonts-xl: 1.5rem;
  --fonts-lg: 1.2rem;
  --fonts-md: 1rem;
  --fonts-sm: 0.92rem;
  --fonts-xs: 0.8rem;
  --fonts-xxs: 0.7rem;
  --fonts-xxxs: 0.6rem;
  --fonts-xxxxs: 0.5rem;
  --extra-bold: 700;
  --bold: 600;
  --semi-bold: 500;
  --body: 400;
  --s-1: 0.25rem;
  --s-1-5: 0.375rem;
  --s-2: 0.5rem;
  --s-2-5: 0.625rem;
  --s-3: 0.75rem;
  --s-4: 1rem;
  --s-5: 1.25rem;
  --s-6: 1.5rem;
  --s-7: 1.75rem;
  --s-8: 2rem;
  --s-9: 2.25rem;
  --s-10: 2.5rem;
  --s-11: 2.75rem;
  --s-12: 3rem;
  --s-14: 3.5rem;
  --s-16: 4rem;
  --s-20: 5rem;
  --s-24: 6rem;
  --s-28: 7rem;
  --s-32: 8rem;
  --s-40: 10rem;
  --s-48: 12rem;
  --s-56: 14rem;
  --s-64: 16rem;
  --s-72: 18rem;
  --s-80: 20rem;
  --s-96: 2rem;
  --sparse: 0.4px;
  --label-margin: var(--s-1);
  --inactive-image-filter: grayscale(100%) brightness(30%);
}

html.dark {
  --bg: #02011e;
  --bg-darker: #0a092d;
  --bg-lighter: rgb(169 138 255 / 10%);
  --bg-lighter-transparent: rgb(64 67 108 / 50%);
  --bg-lightest: rgb(169 138 255 / 30%);
  --bg-darker-very-transparent: hsla(237.3deg 42.3% 26.6% / 50%);
  --bg-darker-transparent: #0a092dce;
  --bg-ability: #010112;
  --bg-badge: #000;
  --bg-mode-active: var(--theme-transparent);
  --bg-input: #1b1a35;
  --abilities-button-bg: var(--bg-lighter);
  --border: rgb(255 255 255 / 10%);
  --button-text: rgb(0 0 0 / 85%);
  --button-text-transparent: rgb(0 0 0 / 65%);
  --text: #e1dede;
  --badge-text: var(--text);
  --black-text: rgb(0 0 0 / 95%);
  --text-lighter: rgb(215 214 255 / 80%);
  --theme-error: rgb(219 70 65);
  --theme-error-transparent: rgba(219 70 65 / 55%);
  --theme-warning: #f5f587;
  --theme-success: #a3ffae;
  --theme-success-transparent: #a3ffae52;
  --theme-info: #87cddc;
  --theme-info-transparent: #87cddc52;
  --theme-informative-yellow: #ffed75;
  --theme-informative-red: #ff9494;
  --theme-informative-blue: #a7efff;
  --theme-informative-green: #a2ffad;
  --theme: #ffc6de;
  --theme-very-transparent: #ffc6de36;
  --theme-vibrant: hsl(255deg 78% 65%);
  --theme-transparent: #ffc6de52;
  --theme-secondary: rgb(239 229 83);
  --backdrop-filter: blur(10px) brightness(75%);
  --inactive-image-filter: grayscale(100%) brightness(130%);
}

html.dark .light-mode-only {
  display: none;
}

html.light .dark-mode-only {
  display: none;
}

/* xs: "(min-width: 480px)",
  sm: "(min-width: 640px)",
  md: "(min-width: 768px)",
  lg: "(min-width: 1024px)",
  xl: "(min-width: 1280px)", */
