.sectionDivider {
	font-size: var(--font-md);
	font-weight: var(--weight-bold);
	color: var(--color-text-high);
	border-bottom: var(--border-style);
	width: 100%;
	padding-block: var(--s-1);
}

.eventsContainer {
	display: flex;
	flex-direction: column;
	gap: var(--s-16);
	align-items: center;
}

@container (width >= 720px) {
	.eventsContainer {
		flex-direction: row;
		gap: var(--s-8);
		overflow-x: initial;
		align-items: flex-start;
	}
}

.eventInfo {
	display: flex;
	align-items: center;
	gap: var(--s-2);
	font-weight: var(--weight-semi);
	color: var(--color-text);
	width: max-content;

	& img {
		border-radius: var(--radius-avatar);
	}
}

.eventInfoTime {
	display: block;
	color: var(--color-text-high);
	font-size: var(--font-sm);
}

.leaderboardList {
	display: flex;
	gap: var(--s-4);
	flex-direction: column;

	& li::marker {
		font-size: var(--font-lg);
		font-weight: var(--weight-bold);
		color: var(--color-accent);
		padding-inline-end: var(--s-2);
	}
}

.leaderboardListRow {
	display: flex;
	flex-direction: column;
	gap: var(--s-2);
	padding-inline-start: var(--s-3);
}

.trophyGridButton {
	all: unset;
	cursor: pointer;
	display: block;
}

.trophyModalTournaments {
	display: flex;
	flex-direction: column;
	gap: var(--s-2);
	opacity: 1;
	transition: opacity 0.2s ease;

	@starting-style {
		opacity: 0;
	}
}
