.vods__matches {
  display: flex;
  flex-wrap: wrap;
  column-gap: var(--s-4);
  row-gap: var(--s-8);
  justify-content: space-between;
  margin-block-start: var(--s-2);
}

.vods__match {
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  font-size: var(--fonts-xs);
  line-height: 1.3;
  gap: var(--s-2);
  font-weight: var(--semi-bold);
  flex-grow: 1;
}

.vods__match__weapon {
  position: absolute;
  top: -15px;
  left: 20px;
}

.vods__match__mode {
  position: absolute;
  top: -15px;
  right: 25px;
}
