.twf {
  width: 1.5rem;
  height: 1.5rem;
}

.q__clocks-container {
  display: flex;
  gap: var(--s-2);
}

.q__clock {
  font-size: var(--fonts-sm);
  font-weight: var(--bold);
  color: var(--text-lighter);
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex: 1 1 0;
  line-height: 1.3;
}

.q__clock-country {
  color: var(--text) !important;
  white-space: no-wrap;
  font-size: var(--fonts-xs);
}

.q__header {
  font-size: var(--fonts-lg);
}

.q__map-preference-label {
  margin-block-end: 0;
  font-weight: var(--semi-bold);
  display: flex;
  align-items: center;
  gap: var(--s-1);
  color: var(--text-lighter);
}

.q__map-pool-grid {
  display: grid;
  grid-template-columns: repeat(7, max-content);
  gap: var(--s-2-5);
  font-size: var(--fonts-xs);
  align-items: center;
}

.q__map-pool-grid__stage-image {
  border-radius: 7px;
}

.q__groups-container {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
}

.q__group {
  background-color: var(--bg-lighter);
  width: 100%;
  border-radius: var(--rounded);
}

.q__group-member {
  display: flex;
  gap: var(--s-2);
  align-items: center;
  font-size: var(--fonts-xs);
}
