node_modules

/.cache*
/build
/public/build
.env

notes.md

db*.sqlite3*
dump

/cypress/videos
/cypress/screenshots

.DS_Store
.excalidraw

/scripts/output/*
!/scripts/output/.gitkeep

/scripts/dicts/**/*.json