node_modules

/.cache*
/build
/public/build
.env
translation-progress.md

notes.md

db*.sqlite3*
!db-test.sqlite3
dump

.DS_Store
.excalidraw

/scripts/output/*
!/scripts/output/.gitkeep

/scripts/dicts/**/*.json
/test-results/
/playwright-report/
/playwright/.cache/

.vscode

notepad.txt
