.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--space-1);
  background-color: var(--secondary-bg-color);
  font-weight: bold;
  justify-self: center;
}

.leftIconsContainer {
  display: flex;
  width: 6rem;
  align-items: center;
  padding: 0 var(--space-2);

  @media screen and (min-width: var(--media-xl)) {
    width: 13rem;
  }
}
