.org__calendar {
	display: grid;
	grid-template-columns: repeat(7, max-content);
	gap: var(--s-2);
	--cell-size: 55px;
}

.org__calendar__container {
	display: flex;
	flex-direction: column;
	gap: var(--s-2);
	position: sticky;
	top: 47px;
	height: max-content;
}

.org__calendar__day-header {
	font-size: var(--fonts-md);
	font-weight: var(--semi-bold);
}

.org__calendar__day {
	width: var(--cell-size);
	height: var(--cell-size);
	font-size: var(--fonts-xs);
	font-weight: var(--semi-bold);
	background-color: var(--bg-lighter);
	padding: var(--s-1) var(--s-2);
	position: relative;
	display: grid;
	place-items: center;
}

.org__calendar__day__date {
	position: absolute;
	top: 1px;
	left: 6px;
}

.org__calendar__day__logo {
	position: absolute;
	border-radius: var(--rounded);
	top: 18px;
	left: 18px;
}

.org__calendar__day__today {
	color: var(--theme-secondary);
	font-weight: var(--bold);
}

.org__calendar__day__previous {
	background-color: var(--bg-darker);
}

.org__calendar__month-selector {
	display: flex;
	align-items: center;
	gap: var(--s-2);
	font-weight: var(--bold);
}

.org__calendar__month-selector a {
	font-size: var(--fonts-lg);
}

.org__calendar__month-selector > div {
	font-size: var(--fonts-lg);
	margin-block-start: var(--s-1);
}

.org__section-divider {
	font-size: var(--fonts-md);
	font-weight: var(--bold);
	color: var(--text-lighter);
	border-bottom: 2px solid var(--border);
	width: 100%;
	padding-block: var(--s-1);
}

.org__event-info {
	display: flex;
	align-items: center;
	gap: var(--s-2);
	font-weight: var(--semi-bold);
	color: var(--text);
}

.org__event-info img {
	border-radius: 100%;
}

.org__event-info__time {
	display: block;
	color: var(--text-lighter);
	font-size: var(--fonts-sm);
}
