.placements__table {
  display: flex;
  flex-direction: column;
  gap: var(--s-0-5);
  font-size: var(--fonts-sm);
  font-weight: var(--semi-bold);
}

.placements__table__rank {
  width: 28px;
  text-align: right;
}

.placements__table__row {
  background-color: var(--bg-lighter);
  display: flex;
  padding: var(--s-2) var(--s-3);
  align-items: center;
  justify-content: space-between;
  color: var(--text);
}

.placements__table__row:hover {
  background-color: var(--theme-transparent);
}

.placements__table__row:first-of-type {
  border-radius: var(--rounded) var(--rounded) 0 0;
}

.placements__table__row:last-of-type {
  border-radius: 0 0 var(--rounded) var(--rounded);
}

.placements__table__row:only-child {
  border-radius: var(--rounded);
}

.placements__table__weapon {
  background-color: var(--bg-darker);
  border-radius: 100%;
}

.placements__table__mode {
  background-color: var(--bg-darker);
  border-radius: 100%;
  padding: var(--s-1);
}

.placements__time {
  font-size: var(--fonts-xs);
  font-weight: var(--semi-bold);
  color: var(--text-lighter);
}

.placements__table__inner-row {
  display: flex;
  align-items: center;
  gap: var(--s-2-5);
}
