.pagination {
  display: inline-block;
  border-color: red;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  font-weight: bold;
}

.pagination a.active {
  border-bottom: 3px solid;
}

.pagination a:hover:not(.active) {
  background-color: rgba(165, 165, 165, 0.15);
  border-radius: 5px;
}
