.pagination {
  display: inline-block;
  padding: 8px 16px;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  user-select: none;
}

.page {
  display: inline;
  margin: 0.2em;
}

.active-page {
  border-bottom: 3px solid;
}

.disabled-page {
  display: none;
}
