/*https://stackoverflow.com/a/23155413*/

:root {
  --sub-header-border: white;
}

.decorated {
  overflow: hidden;
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
}
.decorated > span {
  position: relative;
  display: inline-block;
}
.decorated > span:before,
.decorated > span:after {
  content: "";
  position: absolute;
  top: 50%;
  border-bottom: 2px solid;
  border-color: var(--sub-header-border);
  width: 592px; /* half of limiter */
  margin: 0 20px;
}
.decorated > span:before {
  right: 100%;
}
.decorated > span:after {
  left: 100%;
}
