.elimRoundHeader {
	text-align: center;
	background-color: var(--color-bg-higher);
	font-size: var(--font-xs);
	font-weight: var(--weight-semi);
	padding-block: var(--s-2);
	width: var(--match-width);
	border-radius: var(--radius-box);
}

.elimRoundHeaderInfos {
	width: var(--match-width);
	display: flex;
	justify-content: space-between;
	font-size: var(--font-2xs);
	color: var(--color-text-high);
	font-weight: var(--weight-semi);
}

.roundTimer {
	color: var(--color-text);
}

.roundTimerWarning {
	color: var(--color-warning-high);
}

.roundTimerError {
	color: var(--color-error-high);
}
