.container {
  display: flex;
  align-items: center;
  font-weight: var(--semi-bold);
  gap: var(--s-3);
}

.avatar {
  block-size: 2.5rem;
  border-radius: var(--rounded);
  filter: none;
  inline-size: 2.5rem;
  text-indent: -10000px;
}

.placeholder {
  background-image: url("/svg/background-pattern.svg");
  block-size: 2.5rem;
  border-radius: var(--rounded);
  inline-size: 2.5rem;
}
