.container {
  position: absolute;
  z-index: 500;
  bottom: 100vh;
  width: 100%;
  height: 100%;
  padding-bottom: var(--s-6);
  background-color: var(--bg-lighter);
  background-image: url("/svg/background-pattern.svg");
  overflow-y: auto;

  /* TODO: same for Safari */
  overscroll-behavior: contain;
  transition: bottom 0.5s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.container[data-expanded="true"] {
  bottom: 0;
}

.mobileNavTopAction {
  display: grid;
  padding-top: var(--s-24);
  padding-bottom: var(--s-8);
  background-color: var(--bg);
  gap: var(--s-4);
  place-items: center;
}

.navIcon {
  width: 2rem;
  height: 2rem;
}

.mobileNavLinksContainer {
  display: grid;
  justify-content: center;
  grid-auto-columns: 1fr;
  grid-auto-rows: 4rem;
}

.mobileNavGroupTitle {
  align-self: flex-end;
  padding: var(--s-2) var(--s-3);
  margin-bottom: var(--s-1);
  background-color: var(--bg);
  border-radius: var(--rounded);
  font-weight: var(--bold);
  justify-self: center;
  text-transform: uppercase;
}

.mobileNavLink {
  display: flex;
  align-items: center;
  padding: 0 var(--s-2);
  border-top: 3px solid var(--bg-lighter);
  margin: 0 var(--s-12);
  background-color: var(--bg);
  color: var(--text);
  font-size: var(--fonts-sm);
  font-weight: var(--bold);
  gap: var(--s-2);
  text-decoration: none;
  text-transform: capitalize;
}

.mobileNavLink[data-order="first"] {
  border-radius: var(--rounded) var(--rounded) 0 0;
}

.mobileNavLink[data-order="last"] {
  border-radius: 0 0 var(--rounded) var(--rounded);
}

@media screen and (min-width: 640px) {
  .container {
    display: none;
  }
}

@media screen and (min-width: 480px) {
  .mobileNavLink {
    margin: 0 var(--s-24);
  }
}
