.light {
    --light-gray: var(--chakra-colors-gray-200);
    --gray: var(--chakra-colors-gray-300);
    --blue600: var(--chakra-colors-blue-500);
    --monthBackground: var(--chakra-colors-white);
    --text:var(--chakra-colors-black);
}
.dark {
    --light-gray: var(--chakra-colors-whiteAlpha-300);
    --gray: var(--chakra-colors-whiteAlpha-400);
    --blue600: var(--chakra-colors-blue-300);
    --monthBackground: var(--chakra-colors-gray-700);
    --text:var(--chakra-colors-gray-200);
}

.react-datepicker__input-container {
    -webkit-padding-start: var(--chakra-space-4);
    padding-inline-start: var(--chakra-space-4);
    -webkit-padding-end: var(--chakra-space-2);
    padding-inline-end: var(--chakra-space-2);
    height: var(--chakra-sizes-10);
    border-radius: var(--chakra-radii-md);
    border: 1px solid;
    border-color: var(--light-gray);
}

.react-datepicker__input-container:hover {
    border-color: var(--gray)
}

.react-datepicker__input-container:focus-within {
    z-index: 1;
    border-color: var(--blue600);
    box-shadow: 0 0 0 1px var(--blue600);
}

.react-datepicker__input-container > input {
    background-color: transparent;
    height: var(--chakra-sizes-10);
    color: var(--text);
}