@import "/nprogress.css";

body {
  --theme-color: var(--custom-theme-color, #79ff61);
  --theme-color-opaque: var(
    --custom-theme-color-opaque,
    hsla(111, 100%, 69%, 0.1) ;
  );
  --theme-gray: var(--custom-theme-gray, var(--chakra-colors-gray-300));
  --bg-color: var(--custom-bg-color, #031e3e);
  --secondary-bg-color: var(--custom-secondary-bg-color, #0e2a56);
  --text-color: var(--custom-text-color, var(--chakra-colors-whiteAlpha-900));
  --border-color: var(--custom-border-color, #2e466c);

  margin: 0;
  color: var(--text-color);
  background-color: var(--bg-color);
}

body.chakra-ui-light {
  --theme-color: var(--custom-theme-color, #1bb300);
  --theme-color-opaque: var(
    --custom-theme-color-opaque,
    hsla(111, 100%, 69%, 0.1) ;
  );
  --theme-gray: var(--custom-theme-gray, var(--chakra-colors-gray-600));
  --bg-color: var(--custom-bg-color, #eff0f3);
  --secondary-bg-color: var(--custom-secondary-bg-color, #fffafa);
  --text-color: var(--custom-text-color, var(--chakra-colors-blackAlpha-900));
  --border-color: var(--custom-border-color, #e2e8f0);
}

header,
footer {
  grid-column-end: span 3;
}
main {
  grid-column-start: 2;
  width: 100%;
  max-width: 64rem;
  margin-inline-end: auto;
  margin-inline-start: auto;
}
nav {
  grid-row-start: 2;
  position: sticky;
  top: 0;
}
aside {
  grid-column-start: 3;
}
header {
  width: 100%;
}

.chakra-button:hover {
  background-color: initial !important;
}

#__next {
  display: grid;
  row-gap: 1.5rem;
  column-gap: 1.5rem;
  grid-template-rows: 50px 1fr 100px;
  grid-template-columns: auto 1fr;
  min-height: 100vh;
}

@media (max-width: 1365px) {
  nav {
    margin-right: 0 !important;
  }
}

@media (max-width: 1200px) {
  #__next {
    grid-template-columns: auto 1fr;
  }
}

@media (max-width: 991px) {
  #__next {
    grid-template-columns: 0px 1fr;
  }
}

/* 
For Next.JS image
*/

.rounded {
  border-radius: 50%;
}

a.nounderline {
  text-decoration: none !important;
}

/*
For React Datepicker
 */
.light-datepicker {
  --light-gray: var(--chakra-colors-gray-200);
  --gray: var(--chakra-colors-gray-300);
  --blue600: var(--chakra-colors-blue-500);
  --text: var(--chakra-colors-black);
}
.dark-datepicker {
  --light-gray: var(--chakra-colors-whiteAlpha-300);
  --gray: var(--chakra-colors-whiteAlpha-400);
  --blue600: var(--chakra-colors-blue-300);
  --text: #edf2f7; /* default color slightly differs from chakra-colors-gray-100 */
}

.react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker__input-container {
  -webkit-padding-start: var(--chakra-space-4);
  padding-inline-start: var(--chakra-space-4);
  -webkit-padding-end: var(--chakra-space-2);
  padding-inline-end: var(--chakra-space-2);
  border-radius: var(--chakra-radii-md);
  border: 1px solid;
  border-color: var(--light-gray);
}

.react-datepicker__input-container:hover {
  border-color: var(--gray);
}

.react-datepicker__input-container:focus-within {
  z-index: 1;
  border-color: var(--blue600);
  box-shadow: 0 0 0 1px var(--blue600);
}

.react-datepicker__input-container > input {
  background-color: transparent;
  width: 100%;
  height: var(--chakra-sizes-10);
  color: var(--text);
  outline: none;
}

.scrollableNavigation {
  max-height: calc(100vh - 1rem);
  overflow-y: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollableNavigation::-webkit-scrollbar {
  display: none;
}
