.container {
  width: 100%;
  padding: var(--s-6);
  background: var(--background);
  border-radius: var(--rounded);
  color: var(--text);
}

.topRow {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: var(--s-4);
}

.dateName {
  display: flex;
  align-items: center;
  gap: var(--s-4);
}

.monthDate {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.25;
}

.month {
  font-size: var(--fonts-xs);
  text-transform: uppercase;
}

.date {
  font-size: var(--fonts-lg);
  font-weight: var(--bold);
}

.tournamentName {
  border-color: var(--text);
  border-inline-start: 1px solid;
  font-size: var(--fonts-xl);
  font-weight: var(--extra-bold);
  padding-inline-start: var(--s-4);
}

.bottomRow {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--s-4);
}

.infos {
  display: flex;
  flex-wrap: wrap;
  gap: var(--s-4);
  margin-block-start: var(--s-8);
}

.iconButtons {
  display: flex;
  gap: var(--s-4);
}

.infoContainer {
  font-size: var(--fonts-xs);
}

.infoLabel {
  font-weight: var(--extra-bold);
}

.iconButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  border: 1px solid;
  border-color: var(--text-transparent);
  block-size: 2.25rem;
  border-radius: 50%;
  color: inherit;
  inline-size: 2.25rem;
  transition: background-color 0.3s;
}

.iconButton:active {
  transform: translateY(1px);
}

@media screen and (min-width: 480px) {
  .infos {
    gap: var(--s-8);
  }
}

@media screen and (min-width: 640px) {
  .bottomRow {
    flex-direction: row;
    align-items: flex-end;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 48rem;
  }
}
