@import "/nprogress.css";

:root {
  font-style: -apple-system, blinkmacsystemfont, "Segoe UI", helvetica, arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
  margin: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
}

header,
footer {
  grid-column-end: span 3;
}
main {
  width: 100%;
  max-width: 64rem;
  grid-column-start: 2;
  margin-inline-end: auto;
  margin-inline-start: auto;
}
nav {
  position: sticky;
  top: 0;
  grid-row-start: 2;
}
aside {
  grid-column-start: 3;
}
header {
  width: 100%;
}

#__next {
  display: grid;
  min-height: 100vh;
  column-gap: 1.5rem;
  grid-template-columns: auto 1fr;
  grid-template-rows: 50px 1fr 100px;
  row-gap: 1.5rem;
}

@media (max-width: 1365px) {
  nav {
    margin-right: 0 !important;
  }
}

@media (max-width: 1200px) {
  #__next {
    grid-template-columns: auto 1fr;
  }
}

@media (max-width: 991px) {
  #__next {
    grid-template-columns: 0 1fr;
  }
}

/* 
For Next.JS image
*/

.rounded {
  border-radius: 50%;
}

a.nounderline {
  text-decoration: none !important;
}

/*
For React Datepicker
 */
.light-datepicker {
  --light-gray: var(--chakra-colors-gray-200);
  --gray: var(--chakra-colors-gray-300);
  --blue600: var(--chakra-colors-blue-500);
  --text: var(--chakra-colors-black);
}
.dark-datepicker {
  --light-gray: var(--chakra-colors-whiteAlpha-300);
  --gray: var(--chakra-colors-whiteAlpha-400);
  --blue600: var(--chakra-colors-blue-300);
  --text: #edf2f7; /* default color slightly differs from chakra-colors-gray-100 */
}

.react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker__input-container {
  border: 1px solid;
  border-color: var(--light-gray);
  border-radius: var(--chakra-radii-md);
  -webkit-padding-end: var(--chakra-space-2);
  padding-inline-end: var(--chakra-space-2);
  padding-inline-start: var(--chakra-space-4);
  -webkit-padding-start: var(--chakra-space-4);
}

.react-datepicker__input-container:hover {
  border-color: var(--gray);
}

.react-datepicker__input-container:focus-within {
  z-index: 1;
  border-color: var(--blue600);
  box-shadow: 0 0 0 1px var(--blue600);
}

.react-datepicker__input-container > input {
  width: 100%;
  height: var(--chakra-sizes-10);
  background-color: transparent;
  color: var(--text);
  outline: none;
}

.scrollableNavigation {
  max-height: calc(100vh - 1rem);
  -ms-overflow-style: none; /* IE and Edge */
  overflow-y: auto;
  scrollbar-width: none; /* Firefox */
}

.scrollableNavigation::-webkit-scrollbar {
  display: none;
}
