@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

:root {
	--theme: #feff68;
	--theme-2: #4dfa73;
	--theme-3: #d765ff;
	--theme-4: #64f3fc;
	--theme-5: #ef453b;
	--black: #000000de;
	--twitch: #6441a5;
	--youtube: #c4302b;
	--twitter: #1da1f2;
	--bg: #2d306f;
	--bg-dark: #202251;
	--bg-light: #404386;
	--text: rgba(255, 255, 255, 0.95);
	--text-secondary: rgba(204, 204, 204, 0.65);
	--shadow: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

	--border: 3px;

	--rounded: 20px;

	--sizes-body-large: 16px;
	--sizes-sub-heading: 18px;
	--sizes-heading: 24px;

	--space-0-5: 0.125rem;
	--space-1: 0.25rem;
	--space-1-5: 0.375rem;
	--space-2: 0.5rem;
	--space-2-5: 0.625rem;
	--space-3: 0.75rem;
	--space-3-5: 0.875rem;
	--space-4: 1rem;
	--space-5: 1.25rem;
	--space-6: 1.5rem;
	--space-7: 1.75rem;
	--space-8: 2rem;
}

@media only screen and (min-width: 500px) {
	:root {
		--sizes-heading: 30px;
	}
}

body {
	background-color: var(--bg);
	color: var(--text);
	font-family: 'PT Sans', sans-serif;
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}
