.container {
  display: flex;
  align-items: center;
  gap: var(--s-3);
  font-weight: var(--semi-bold);
}

.avatar {
  border-radius: var(--rounded);
  block-size: 2.5rem;
  inline-size: 2.5rem;
  text-indent: -10000px;
  filter: none;
}

.placeholder {
  border-radius: var(--rounded);
  block-size: 2.5rem;
  inline-size: 2.5rem;
  background-image: url(/svg/background-pattern.svg);
}
