.button {
  display: inline-flex;
  appearance: none;
  align-items: center;
  justify-content: center;
  user-select: none;
  width: auto;
  line-height: 1.2;
  border-radius: var(--rounded-sm);
  font-weight: var(--bold);
  padding-inline: var(--s-2-5);
  padding-block: var(--s-1-5);
  font-size: var(--fonts-sm);
  background: var(--theme);
  color: var(--text);
  border: 2px solid var(--theme);
  outline-offset: 2px;
  cursor: pointer;
}

.button:focus-visible {
  outline: 2px solid var(--theme);
}

.button:active {
  transform: translateY(1px);
}

.outlined {
  background-color: transparent;
}
