.input {
  height: 1rem;
  padding: var(--s-4) var(--s-3);
  background-color: var(--bg-lighter);
  border-radius: var(--rounded);
  outline: none;
  border: none;
  color: var(--text);
  border: 1px solid var(--border);
}

.input:focus-within {
  outline: 2px solid var(--theme);
  border-color: transparent;
}
.input::placeholder {
  color: var(--text-lighter);
  letter-spacing: 0.5px;
  font-weight: var(--semi-bold);
}

.label {
  display: block;
  font-size: var(--fonts-xs);
  font-weight: var(--bold);
  color: var(--text-lighter);
  margin-block-end: var(--s-1);
}
