.layout__header {
  --item-size: 3rem;

  position: relative;
  z-index: 501;
  display: grid;
  align-items: center;
  padding: var(--s-4);
  background-color: var(--bg);
  grid-template-columns: 1fr 2fr;
}

.layout__header__logo-container {
  display: grid;
  width: var(--item-size);
  min-width: var(--item-size);
  height: var(--item-size);
  min-height: var(--item-size);
  padding: var(--s-1);
  background-color: var(--bg-lighter);
  background-image: url("/svg/background-pattern.svg");
  border-radius: var(--rounded);
  cursor: pointer;
  justify-self: flex-start;
  place-items: center;
}

.layout__logo {
  max-width: 100%;
  max-height: 100%;
}

.layout__header__search-container {
  display: none;
}

.layout__header__right-container {
  display: flex;
  gap: var(--s-4);
  justify-self: flex-end;
}

.layout__nav {
  display: none;
  justify-content: center;
  background-color: var(--bg-lighter);
  background-image: url("/svg/background-pattern.svg");
}

.layout__nav__items {
  display: inline-flex;
  justify-content: center;
  padding: var(--s-4) var(--s-8);
  background-color: var(--bg-lighter);
  gap: var(--s-12);
  grid-template-columns: repeat(4, 100px);
}

.layout__nav__items__column {
  display: flex;
  flex-direction: column;
  gap: var(--s-2);
}

.layout__nav__link {
  display: flex;
  align-items: center;
  color: var(--text);
  font-size: var(--fonts-sm);
  font-weight: var(--bold);
  gap: var(--s-2);
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s transform;
}

.layout__nav__link:hover {
  transform: translateX(2px);
}

.layout__nav__column__title {
  color: var(--text-lighter);
  font-size: var(--fonts-xxs);
  font-weight: var(--bold);
  text-transform: uppercase;
}

.layout__nav__link__icon {
  width: 2rem;
  height: 2rem;
}

.layout__main {
  padding-top: var(--s-8);
}

@media screen and (min-width: 640px) {
  .header {
    --item-size: 38px;

    grid-template-columns: 1fr 1fr 1fr;
  }

  .searchContainer {
    display: block;
  }

  .nav {
    display: flex;
  }
}
