name: Tests and checks on push

on:
  pull_request:
  push:
    branches:
      - rewrite

jobs:
  run-checks-and-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version-file: ".nvmrc"

      - name: Cache dependencies
        uses: actions/cache@v2
        with:
          path: ~/.npm
          key: npm-${{ hashFiles('package-lock.json') }}
          restore-keys: npm-

      - name: Install dependencies
        run: npm ci

      - name: Formatter/Linter
        run: npm run biome:check
      - name: Typecheck
        run: npm run typecheck
      - name: Unit tests
        run: npm run test:unit
      - name: Check translations jsons
        run: npm run check-translation-jsons:no-write
