/** xxx: remove all unused **/

.tournament__action-section {
  padding: var(--s-6);
  border-radius: var(--rounded);
  background-color: var(--bg-lighter);
}

.tournament__action-section-title {
  font-size: var(--fonts-lg);
  font-weight: var(--bold);
}

.tournament__action-side-note {
  color: var(--text-lighter);
  font-size: var(--fonts-xs);
  font-weight: var(--semi-bold);
}

.tournament__map-pool-counts {
  display: grid;
  width: 250px;
  margin: 0 auto;
  color: var(--text-lighter);
  font-size: var(--fonts-xs);
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  row-gap: var(--s-2);
}

.tournament__summary-content {
  display: inline-flex;
  gap: var(--s-3);
}

.tournament__summary-content > svg {
  width: 1rem;
}

.tournament__round-container {
  width: 250px;
  margin: 0 auto;
}

.tournament__select-container > label {
  margin-left: var(--s-2-5);
}

.tournament__teams-container {
  display: flex;
  justify-content: center;
  gap: var(--s-4);
}

.tournament__team-select {
  width: 150px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tournament__bo-radios-container {
  display: flex;
  justify-content: center;
  gap: var(--s-4);
}

.tournament__map-list {
  display: grid;
  justify-content: center;
  column-gap: var(--s-4);
  font-size: var(--fonts-sm);
  font-weight: var(--semi-bold);
  grid-template-columns: max-content max-content;
}

.tournament__pick-info {
  align-self: center;
  font-size: var(--fonts-xxxs);
}

.tournament__pick-info.team-1 {
  color: var(--theme-informative-blue);
}

.tournament__pick-info.team-2 {
  color: var(--theme-informative-red);
}

.tournament__pick-info.tiebreaker {
  color: var(--theme-informative-yellow);
}

.tournament__pick-info.both {
  color: var(--theme-informative-green);
}

.tournament__stage-listed {
  justify-self: flex-start;
}

.tournament__team-with-roster {
  display: flex;
  width: 100%;
  align-items: center;
}

.tournament__team-with-roster__name {
  flex: 1;
  font-weight: var(--bold);
  padding-inline-end: var(--s-4);
  text-align: right;
}

.tournament__team-with-roster__members {
  display: flex;
  flex: 1;
  flex-direction: column;
  border-inline-start: 2px solid var(--theme);
  font-size: var(--fonts-xs);
  font-weight: var(--semi-bold);
  gap: var(--s-2);
  list-style: none;
  padding-inline-start: var(--s-4);
}

.tournament__team-with-roster__member {
  display: grid;
  gap: var(--s-1-5);
  grid-template-columns: max-content max-content 1fr;
}

.tournament__team-member-name {
  overflow: hidden;
  color: var(--text);
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tournament__pick-status-container {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: var(--s-1);
}

.tournament__pick-status-container > svg {
  width: 1rem;
}

/** xxx: all new from here **/

.tournament__logo-container {
  display: flex;
  align-items: center;
  margin: 0 auto;
  gap: var(--s-4);
}

.tournament__logo {
  border-radius: 100%;
}

.tournament__title {
  color: var(--theme);
  font-size: var(--fonts-xl);
  font-weight: var(--bold);
}

.tournament__by {
  color: var(--text-lighter);
  font-size: var(--fonts-sm);
  font-weight: var(--semi-bold);
}

.tournament__section-header {
  font-size: var(--fonts-sm);
}

.tournament__section {
  background-color: var(--bg-lighter);
  margin-inline: -12px;
  padding: var(--s-4) var(--s-3);
}

.tournament__section-centered {
  margin: 0 auto;
  max-width: 20rem;
}

.tournament__section__input-container {
  width: 16rem;
}

.tournament__section__warning {
  color: var(--theme-informative-yellow);
  font-size: var(--fonts-xs);
  font-weight: var(--semi-bold);
  text-align: center;
}

.tournament__section__map-select-row {
  display: flex;
  align-items: center;
  gap: var(--s-4);
  white-space: nowrap;
}

.tournament__missing-player {
  width: 62px;
  height: 62px;
  font-size: 32px;
  border-radius: 100%;
  border: 2px solid var(--theme-transparent);
  display: grid;
  place-items: center;
}

@media screen and (min-width: 640px) {
  .tournament__section {
    margin: 0;
    border-radius: var(--rounded);
  }
}
